<p>
  This is a
  <a href="https://guix.gnu.org/manual/en/html_node/Substitutes.html" target="_blank">substitute server</a>
  for <a href="https://guix.gnu.org/" target="_blank">Guix</a>.
</p>

<p>
  Availability for <b>x86_64-linux</b>, <b>i686-linux</b>,
  <b>aarch64-linux</b>, <b>armhf-linux</b> and
  <b>powerpc64le-linux</b> should be good.  <b>i586-gnu</b>
  substitutes are a work in progress.
</p>

<p>
  Cross built packages from x86_64-linux to <b>i586-pc-gnu</b>,
  <b>aarch64-linux-gnu</b> and <b>arm-linux-gnueabihf</b> are
  also available.
</p>

<h2>Using these substitutes</h2>
<p>
  bordeaux.guix.gnu.org is a default substitute server in recent
  versions of Guix, so no manual configuration should be
  necessary.
</p>
<p>
  The URL to use to fetch substitutes is <code>https://bordeaux.guix.gnu.org</code>,
  and they're signed with the following key.
  <pre>(public-key
 (ecc
  (curve Ed25519)
  (q #7D602902D3A2DBB83F8A0FB98602A754C5493B0B778C8D1DD4E0F41DE14DE34F#)
  )
 )</pre>
</p>

<h3>On a Guix System</h3>
<p>
  With recent versions of Guix, the
  <code>%default-substitute-urls</code> and
  <code>%default-authorized-guix-keys</code> should include
  bordeaux.guix.gnu.org, so no extra configuration should be
  necessary.
</p>

<h2>Roadmap</h2>

Current open issues:
<ul>
  <li>
    Hosting for <a href="https://data.guix.gnu.org/">data.guix.gnu.org</a>
    <p>
      data.guix.gnu.org is currently used to compute and provide
      derivations for builds, Chris rents the hosting from Hetzner but
      this isn't a long term approach
    </p>
  </li>
  <li>
    Computing the guix self derivations can require performing builds
    (<a href="https://issues.guix.gnu.org/74942">#74942</a>)
    <p>
      This slows down the data service, requires it to use emulation
      to compute derivations for non x86_64-linux systems, and can
      cause it to fail to process revisions when builds take too long.
    </p>
  </li>
  <li>
    Monitoring and observability
    <p>
      Currently Prometheus and Alertmanager are used, but this needs
      moving to proper hosting as well as getting packages and
      services in to Guix.
    </p>
    <p>
      There's also a need to improve the bffe to show more information
      about agents, for example recent build events.
    </p>
  </li>
</ul>
